<%- include('includes/head.ejs') %>
  </head>

  <body>
    <!-- partials/layouts -->
    <%- include('includes/navigation.ejs')%>

    <h1>Error Occurred!</h1>
    <p>We're working on it. Sorry for the incovenicence.</p>

<%- include('includes/end.ejs') %>